<center><h1>All Cats!</h1></center>
<ul style="list-style-type: lower-alpha;">
    <% @cats.each do |cat| %>
    <li style ="list-style-type: decimal;">
        <ul style="list-style-type: disc;">
            <li style="border: 1px solid red; width: 25%; background: #ffe5e5;"><%= cat.name %></li>
            <li style="border: 1px solid; width: 25%; background: #cce5ff;"><%= cat.color %></li>
            <li style="border: 1px solid; width: 25%; background: #cce5ff;"><%= cat.birth_date %></li>
            <li style="border: 1px solid; width: 25%; background: #cce5ff;"><%= cat.sex %></li>
            <li style="border: 1px solid; width: 25%; margin-bottom: 15px; background: #cce5ff;"><%= cat.description %></li>

        </ul>
    </li>
    <% end %>
</ul>