<center><h1>All Cats!</h1></center>
<ul style="list-style-type: lower-alpha;">
    <% @cats.each do |cat| %>

        <center>
            <table style="border: 1px solid; margin: 15px;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid; font-weight: bold; background: #ffe5e5;">Name:</td>
                        <td style="border: 1px solid; background: #ffe5e5;"><%= cat.name%></td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid; font-weight: bold; background: #cce5ff;">Color:</td>
                        <td style="border: 1px solid; background: #cce5ff;"><%= cat.color%></td>
                    </td>
                    <tr>
                        <td style="border: 1px solid; font-weight: bold; background: #ffe5e5;">Birthday:</td>
                        <td style="border: 1px solid; background: #ffe5e5;"><%= cat.birth_date%></td>
                    </td>
                    <tr>
                        <td style="border: 1px solid; font-weight: bold; background: #cce5ff;">Sex:</td>
                        <td style="border: 1px solid; background: #cce5ff;"><%= cat.sex%></td>
                    </td>
                    <tr>
                        <td style="border: 1px solid; font-weight: bold; background: #ffe5e5;">Description:</td>
                        <td style="border: 1px solid; background: #ffe5e5;"><%= cat.description%></td>
                    </td>
                </tbody>
            </table>
        </center>
    
    <% end %>
</ul>

